<div id = "notFound">
    <div id = "subjectInfo" style="text-align: center;">
                    <div id = "subjectTitle">
                        <div>404 Not Found</div>
                        <div>Page : {{message}} is not found</div>
                    </div>
                    <a href="/">
                        <button class="button-19" role="button">Back To Homepage</button>
                    </a>
    </div>

</div>